<?xml version="1.0" standalone="no" ?> 
<world gridSize="100,100,100" windowSize="1800,900"> 
<camera target="900,900,0" directionSpherical="0,70,500" angle="90"/> 
<spotlight target="200,20,200" directionSpherical="45,60,500" angle="40"/> 
<blockList color="255,255,255" size="1,1,1" blockSize="71,71,65" > 
</blockList> 
<obstacleList color="255,0,0" > 
<obstacle firstCell="0,0,0" secondCell="1,0,0"/>
<obstacle firstCell="0,1,0" secondCell="0,2,0"/>
<obstacle firstCell="0,2,0" secondCell="0,3,0"/>
<obstacle firstCell="0,4,0" secondCell="1,4,0"/>
<obstacle firstCell="0,6,0" secondCell="0,7,0"/>
<obstacle firstCell="0,7,0" secondCell="0,8,0"/>
<obstacle firstCell="0,9,0" secondCell="1,9,0"/>
<obstacle firstCell="0,10,0" secondCell="1,10,0"/>
<obstacle firstCell="0,11,0" secondCell="1,11,0"/>
<obstacle firstCell="0,12,0" secondCell="1,12,0"/>
<obstacle firstCell="0,13,0" secondCell="1,13,0"/>
<obstacle firstCell="0,15,0" secondCell="0,16,0"/>
<obstacle firstCell="1,0,0" secondCell="1,1,0"/>
<obstacle firstCell="1,1,0" secondCell="1,2,0"/>
<obstacle firstCell="1,2,0" secondCell="2,2,0"/>
<obstacle firstCell="1,3,0" secondCell="2,3,0"/>
<obstacle firstCell="1,4,0" secondCell="2,4,0"/>
<obstacle firstCell="1,4,0" secondCell="1,5,0"/>
<obstacle firstCell="1,5,0" secondCell="1,6,0"/>
<obstacle firstCell="1,6,0" secondCell="2,6,0"/>
<obstacle firstCell="1,7,0" secondCell="1,8,0"/>
<obstacle firstCell="1,8,0" secondCell="1,9,0"/>
<obstacle firstCell="1,10,0" secondCell="1,11,0"/>
<obstacle firstCell="1,12,0" secondCell="1,13,0"/>
<obstacle firstCell="1,13,0" secondCell="1,14,0"/>
<obstacle firstCell="1,14,0" secondCell="1,15,0"/>
<obstacle firstCell="1,15,0" secondCell="2,15,0"/>
<obstacle firstCell="1,15,0" secondCell="1,16,0"/>
<obstacle firstCell="2,0,0" secondCell="2,1,0"/>
<obstacle firstCell="2,1,0" secondCell="3,1,0"/>
<obstacle firstCell="2,2,0" secondCell="3,2,0"/>
<obstacle firstCell="2,3,0" secondCell="2,4,0"/>
<obstacle firstCell="2,5,0" secondCell="3,5,0"/>
<obstacle firstCell="2,5,0" secondCell="2,6,0"/>
<obstacle firstCell="2,6,0" secondCell="2,7,0"/>
<obstacle firstCell="2,7,0" secondCell="2,8,0"/>
<obstacle firstCell="2,8,0" secondCell="2,9,0"/>
<obstacle firstCell="2,9,0" secondCell="2,10,0"/>
<obstacle firstCell="2,10,0" secondCell="3,10,0"/>
<obstacle firstCell="2,11,0" secondCell="3,11,0"/>
<obstacle firstCell="2,11,0" secondCell="2,12,0"/>
<obstacle firstCell="2,12,0" secondCell="2,13,0"/>
<obstacle firstCell="2,13,0" secondCell="2,14,0"/>
<obstacle firstCell="2,14,0" secondCell="3,14,0"/>
<obstacle firstCell="2,15,0" secondCell="2,16,0"/>
<obstacle firstCell="3,1,0" secondCell="4,1,0"/>
<obstacle firstCell="3,2,0" secondCell="4,2,0"/>
<obstacle firstCell="3,2,0" secondCell="3,3,0"/>
<obstacle firstCell="3,3,0" secondCell="3,4,0"/>
<obstacle firstCell="3,5,0" secondCell="3,6,0"/>
<obstacle firstCell="3,6,0" secondCell="4,6,0"/>
<obstacle firstCell="3,7,0" secondCell="4,7,0"/>
<obstacle firstCell="3,7,0" secondCell="3,8,0"/>
<obstacle firstCell="3,8,0" secondCell="4,8,0"/>
<obstacle firstCell="3,9,0" secondCell="4,9,0"/>
<obstacle firstCell="3,9,0" secondCell="3,10,0"/>
<obstacle firstCell="3,11,0" secondCell="4,11,0"/>
<obstacle firstCell="3,12,0" secondCell="4,12,0"/>
<obstacle firstCell="3,12,0" secondCell="3,13,0"/>
<obstacle firstCell="3,13,0" secondCell="3,14,0"/>
<obstacle firstCell="3,15,0" secondCell="4,15,0"/>
<obstacle firstCell="3,15,0" secondCell="3,16,0"/>
<obstacle firstCell="4,1,0" secondCell="5,1,0"/>
<obstacle firstCell="4,2,0" secondCell="5,2,0"/>
<obstacle firstCell="4,3,0" secondCell="5,3,0"/>
<obstacle firstCell="4,3,0" secondCell="4,4,0"/>
<obstacle firstCell="4,4,0" secondCell="4,5,0"/>
<obstacle firstCell="4,5,0" secondCell="5,5,0"/>
<obstacle firstCell="4,6,0" secondCell="5,6,0"/>
<obstacle firstCell="4,8,0" secondCell="5,8,0"/>
<obstacle firstCell="4,9,0" secondCell="4,10,0"/>
<obstacle firstCell="4,10,0" secondCell="5,10,0"/>
<obstacle firstCell="4,11,0" secondCell="5,11,0"/>
<obstacle firstCell="4,12,0" secondCell="5,12,0"/>
<obstacle firstCell="4,13,0" secondCell="4,14,0"/>
<obstacle firstCell="4,14,0" secondCell="5,14,0"/>
<obstacle firstCell="4,15,0" secondCell="4,16,0"/>
<obstacle firstCell="5,0,0" secondCell="5,1,0"/>
<obstacle firstCell="5,2,0" secondCell="6,2,0"/>
<obstacle firstCell="5,3,0" secondCell="5,4,0"/>
<obstacle firstCell="5,4,0" secondCell="6,4,0"/>
<obstacle firstCell="5,5,0" secondCell="6,5,0"/>
<obstacle firstCell="5,6,0" secondCell="5,7,0"/>
<obstacle firstCell="5,7,0" secondCell="6,7,0"/>
<obstacle firstCell="5,8,0" secondCell="5,9,0"/>
<obstacle firstCell="5,9,0" secondCell="6,9,0"/>
<obstacle firstCell="5,10,0" secondCell="6,10,0"/>
<obstacle firstCell="5,10,0" secondCell="5,11,0"/>
<obstacle firstCell="5,12,0" secondCell="5,13,0"/>
<obstacle firstCell="5,13,0" secondCell="6,13,0"/>
<obstacle firstCell="5,14,0" secondCell="5,15,0"/>
<obstacle firstCell="5,15,0" secondCell="5,16,0"/>
<obstacle firstCell="6,0,0" secondCell="7,0,0"/>
<obstacle firstCell="6,1,0" secondCell="7,1,0"/>
<obstacle firstCell="6,1,0" secondCell="6,2,0"/>
<obstacle firstCell="6,3,0" secondCell="7,3,0"/>
<obstacle firstCell="6,3,0" secondCell="6,4,0"/>
<obstacle firstCell="6,5,0" secondCell="7,5,0"/>
<obstacle firstCell="6,5,0" secondCell="6,6,0"/>
<obstacle firstCell="6,6,0" secondCell="6,7,0"/>
<obstacle firstCell="6,7,0" secondCell="6,8,0"/>
<obstacle firstCell="6,8,0" secondCell="7,8,0"/>
<obstacle firstCell="6,9,0" secondCell="7,9,0"/>
<obstacle firstCell="6,10,0" secondCell="6,11,0"/>
<obstacle firstCell="6,11,0" secondCell="6,12,0"/>
<obstacle firstCell="6,13,0" secondCell="7,13,0"/>
<obstacle firstCell="6,13,0" secondCell="6,14,0"/>
<obstacle firstCell="6,14,0" secondCell="6,15,0"/>
<obstacle firstCell="6,15,0" secondCell="6,16,0"/>
<obstacle firstCell="7,1,0" secondCell="7,2,0"/>
<obstacle firstCell="7,2,0" secondCell="7,3,0"/>
<obstacle firstCell="7,3,0" secondCell="8,3,0"/>
<obstacle firstCell="7,4,0" secondCell="8,4,0"/>
<obstacle firstCell="7,6,0" secondCell="8,6,0"/>
<obstacle firstCell="7,6,0" secondCell="7,7,0"/>
<obstacle firstCell="7,8,0" secondCell="8,8,0"/>
<obstacle firstCell="7,9,0" secondCell="8,9,0"/>
<obstacle firstCell="7,9,0" secondCell="7,10,0"/>
<obstacle firstCell="7,10,0" secondCell="7,11,0"/>
<obstacle firstCell="7,11,0" secondCell="7,12,0"/>
<obstacle firstCell="7,12,0" secondCell="8,12,0"/>
<obstacle firstCell="7,13,0" secondCell="8,13,0"/>
<obstacle firstCell="7,14,0" secondCell="8,14,0"/>
<obstacle firstCell="7,14,0" secondCell="7,15,0"/>
<obstacle firstCell="7,15,0" secondCell="7,16,0"/>
<obstacle firstCell="8,0,0" secondCell="9,0,0"/>
<obstacle firstCell="8,0,0" secondCell="8,1,0"/>
<obstacle firstCell="8,1,0" secondCell="8,2,0"/>
<obstacle firstCell="8,2,0" secondCell="9,2,0"/>
<obstacle firstCell="8,3,0" secondCell="9,3,0"/>
<obstacle firstCell="8,4,0" secondCell="8,5,0"/>
<obstacle firstCell="8,5,0" secondCell="9,5,0"/>
<obstacle firstCell="8,6,0" secondCell="8,7,0"/>
<obstacle firstCell="8,8,0" secondCell="9,8,0"/>
<obstacle firstCell="8,9,0" secondCell="8,10,0"/>
<obstacle firstCell="8,10,0" secondCell="9,10,0"/>
<obstacle firstCell="8,11,0" secondCell="9,11,0"/>
<obstacle firstCell="8,11,0" secondCell="8,12,0"/>
<obstacle firstCell="8,12,0" secondCell="9,12,0"/>
<obstacle firstCell="8,14,0" secondCell="9,14,0"/>
<obstacle firstCell="8,14,0" secondCell="8,15,0"/>
<obstacle firstCell="8,15,0" secondCell="8,16,0"/>
<obstacle firstCell="9,1,0" secondCell="9,2,0"/>
<obstacle firstCell="9,3,0" secondCell="9,4,0"/>
<obstacle firstCell="9,4,0" secondCell="9,5,0"/>
<obstacle firstCell="9,5,0" secondCell="9,6,0"/>
<obstacle firstCell="9,6,0" secondCell="9,7,0"/>
<obstacle firstCell="9,7,0" secondCell="9,8,0"/>
<obstacle firstCell="9,8,0" secondCell="9,9,0"/>
<obstacle firstCell="9,10,0" secondCell="9,11,0"/>
<obstacle firstCell="9,11,0" secondCell="10,11,0"/>
<obstacle firstCell="9,13,0" secondCell="9,14,0"/>
<obstacle firstCell="9,15,0" secondCell="10,15,0"/>
<obstacle firstCell="9,15,0" secondCell="9,16,0"/>
<obstacle firstCell="10,0,0" secondCell="10,1,0"/>
<obstacle firstCell="10,1,0" secondCell="11,1,0"/>
<obstacle firstCell="10,2,0" secondCell="11,2,0"/>
<obstacle firstCell="10,2,0" secondCell="10,3,0"/>
<obstacle firstCell="10,3,0" secondCell="11,3,0"/>
<obstacle firstCell="10,3,0" secondCell="10,4,0"/>
<obstacle firstCell="10,4,0" secondCell="10,5,0"/>
<obstacle firstCell="10,5,0" secondCell="11,5,0"/>
<obstacle firstCell="10,6,0" secondCell="10,7,0"/>
<obstacle firstCell="10,7,0" secondCell="11,7,0"/>
<obstacle firstCell="10,8,0" secondCell="11,8,0"/>
<obstacle firstCell="10,8,0" secondCell="10,9,0"/>
<obstacle firstCell="10,9,0" secondCell="10,10,0"/>
<obstacle firstCell="10,10,0" secondCell="10,11,0"/>
<obstacle firstCell="10,12,0" secondCell="11,12,0"/>
<obstacle firstCell="10,12,0" secondCell="10,13,0"/>
<obstacle firstCell="10,13,0" secondCell="10,14,0"/>
<obstacle firstCell="10,14,0" secondCell="11,14,0"/>
<obstacle firstCell="10,15,0" secondCell="10,16,0"/>
<obstacle firstCell="11,0,0" secondCell="11,1,0"/>
<obstacle firstCell="11,2,0" secondCell="12,2,0"/>
<obstacle firstCell="11,3,0" secondCell="11,4,0"/>
<obstacle firstCell="11,4,0" secondCell="12,4,0"/>
<obstacle firstCell="11,5,0" secondCell="11,6,0"/>
<obstacle firstCell="11,6,0" secondCell="12,6,0"/>
<obstacle firstCell="11,7,0" secondCell="11,8,0"/>
<obstacle firstCell="11,9,0" secondCell="11,10,0"/>
<obstacle firstCell="11,10,0" secondCell="12,10,0"/>
<obstacle firstCell="11,11,0" secondCell="12,11,0"/>
<obstacle firstCell="11,11,0" secondCell="11,12,0"/>
<obstacle firstCell="11,12,0" secondCell="12,12,0"/>
<obstacle firstCell="11,13,0" secondCell="12,13,0"/>
<obstacle firstCell="11,13,0" secondCell="11,14,0"/>
<obstacle firstCell="11,15,0" secondCell="12,15,0"/>
<obstacle firstCell="11,15,0" secondCell="11,16,0"/>
<obstacle firstCell="12,0,0" secondCell="12,1,0"/>
<obstacle firstCell="12,1,0" secondCell="12,2,0"/>
<obstacle firstCell="12,2,0" secondCell="12,3,0"/>
<obstacle firstCell="12,3,0" secondCell="13,3,0"/>
<obstacle firstCell="12,4,0" secondCell="12,5,0"/>
<obstacle firstCell="12,5,0" secondCell="13,5,0"/>
<obstacle firstCell="12,6,0" secondCell="12,7,0"/>
<obstacle firstCell="12,7,0" secondCell="13,7,0"/>
<obstacle firstCell="12,8,0" secondCell="13,8,0"/>
<obstacle firstCell="12,8,0" secondCell="12,9,0"/>
<obstacle firstCell="12,9,0" secondCell="12,10,0"/>
<obstacle firstCell="12,11,0" secondCell="12,12,0"/>
<obstacle firstCell="12,13,0" secondCell="12,14,0"/>
<obstacle firstCell="12,14,0" secondCell="13,14,0"/>
<obstacle firstCell="12,15,0" secondCell="12,16,0"/>
<obstacle firstCell="13,0,0" secondCell="13,1,0"/>
<obstacle firstCell="13,1,0" secondCell="14,1,0"/>
<obstacle firstCell="13,2,0" secondCell="13,3,0"/>
<obstacle firstCell="13,3,0" secondCell="13,4,0"/>
<obstacle firstCell="13,5,0" secondCell="14,5,0"/>
<obstacle firstCell="13,5,0" secondCell="13,6,0"/>
<obstacle firstCell="13,6,0" secondCell="13,7,0"/>
<obstacle firstCell="13,8,0" secondCell="14,8,0"/>
<obstacle firstCell="13,9,0" secondCell="14,9,0"/>
<obstacle firstCell="13,9,0" secondCell="13,10,0"/>
<obstacle firstCell="13,10,0" secondCell="13,11,0"/>
<obstacle firstCell="13,11,0" secondCell="13,12,0"/>
<obstacle firstCell="13,12,0" secondCell="13,13,0"/>
<obstacle firstCell="13,13,0" secondCell="13,14,0"/>
<obstacle firstCell="13,15,0" secondCell="14,15,0"/>
<obstacle firstCell="13,15,0" secondCell="13,16,0"/>
<obstacle firstCell="14,1,0" secondCell="15,1,0"/>
<obstacle firstCell="14,2,0" secondCell="15,2,0"/>
<obstacle firstCell="14,2,0" secondCell="14,3,0"/>
<obstacle firstCell="14,3,0" secondCell="14,4,0"/>
<obstacle firstCell="14,4,0" secondCell="14,5,0"/>
<obstacle firstCell="14,6,0" secondCell="15,6,0"/>
<obstacle firstCell="14,6,0" secondCell="14,7,0"/>
<obstacle firstCell="14,7,0" secondCell="15,7,0"/>
<obstacle firstCell="14,8,0" secondCell="15,8,0"/>
<obstacle firstCell="14,9,0" secondCell="15,9,0"/>
<obstacle firstCell="14,9,0" secondCell="14,10,0"/>
<obstacle firstCell="14,10,0" secondCell="14,11,0"/>
<obstacle firstCell="14,11,0" secondCell="14,12,0"/>
<obstacle firstCell="14,12,0" secondCell="14,13,0"/>
<obstacle firstCell="14,13,0" secondCell="14,14,0"/>
<obstacle firstCell="14,14,0" secondCell="15,14,0"/>
<obstacle firstCell="14,15,0" secondCell="14,16,0"/>
<obstacle firstCell="15,0,0" secondCell="16,0,0"/>
<obstacle firstCell="15,1,0" secondCell="16,1,0"/>
<obstacle firstCell="15,2,0" secondCell="16,2,0"/>
<obstacle firstCell="15,3,0" secondCell="16,3,0"/>
<obstacle firstCell="15,3,0" secondCell="15,4,0"/>
<obstacle firstCell="15,4,0" secondCell="16,4,0"/>
<obstacle firstCell="15,5,0" secondCell="16,5,0"/>
<obstacle firstCell="15,6,0" secondCell="16,6,0"/>
<obstacle firstCell="15,7,0" secondCell="16,7,0"/>
<obstacle firstCell="15,8,0" secondCell="16,8,0"/>
<obstacle firstCell="15,9,0" secondCell="16,9,0"/>
<obstacle firstCell="15,10,0" secondCell="16,10,0"/>
<obstacle firstCell="15,10,0" secondCell="15,11,0"/>
<obstacle firstCell="15,11,0" secondCell="16,11,0"/>
<obstacle firstCell="15,12,0" secondCell="16,12,0"/>
<obstacle firstCell="15,12,0" secondCell="15,13,0"/>
<obstacle firstCell="15,13,0" secondCell="16,13,0"/>
<obstacle firstCell="15,14,0" secondCell="16,14,0"/>
<obstacle firstCell="15,15,0" secondCell="16,15,0"/>
<obstacle firstCell="15,15,0" secondCell="15,16,0"/>
</obstacleList>
</world>