<?xml version="1.0" standalone="no" ?> 
<world gridSize="100,100,100" windowSize="1800,900"> 
<camera target="900,900,0" directionSpherical="0,70,500" angle="90"/> 
<spotlight target="200,20,200" directionSpherical="45,60,500" angle="40"/> 
<blockList color="255,255,255" size="1,1,1" blockSize="71,71,65" > 
</blockList> 
<obstacleList color="255,0,0" > 
<obstacle position="1,0,0"/>
<obstacle position="0,2,0"/>
<obstacle position="1,8,0"/>
<obstacle position="1,16,0"/>
<obstacle position="1,20,0"/>
<obstacle position="0,26,0"/>
<obstacle position="0,30,0"/>
<obstacle position="3,0,0"/>
<obstacle position="3,6,0"/>
<obstacle position="3,12,0"/>
<obstacle position="2,30,0"/>
<obstacle position="4,6,0"/>
<obstacle position="4,8,0"/>
<obstacle position="4,14,0"/>
<obstacle position="5,22,0"/>
<obstacle position="5,24,0"/>
<obstacle position="5,26,0"/>
<obstacle position="4,28,0"/>
<obstacle position="4,30,0"/>
<obstacle position="6,0,0"/>
<obstacle position="7,12,0"/>
<obstacle position="6,16,0"/>
<obstacle position="7,18,0"/>
<obstacle position="6,18,0"/>
<obstacle position="6,30,0"/>
<obstacle position="8,2,0"/>
<obstacle position="8,16,0"/>
<obstacle position="8,20,0"/>
<obstacle position="9,24,0"/>
<obstacle position="8,30,0"/>
<obstacle position="11,8,0"/>
<obstacle position="10,12,0"/>
<obstacle position="11,30,0"/>
<obstacle position="10,30,0"/>
<obstacle position="13,2,0"/>
<obstacle position="12,4,0"/>
<obstacle position="12,16,0"/>
<obstacle position="12,30,0"/>
<obstacle position="15,22,0"/>
<obstacle position="14,22,0"/>
<obstacle position="15,26,0"/>
<obstacle position="14,30,0"/>
<obstacle position="16,4,0"/>
<obstacle position="16,6,0"/>
<obstacle position="16,14,0"/>
<obstacle position="16,16,0"/>
<obstacle position="16,26,0"/>
<obstacle position="17,28,0"/>
<obstacle position="16,30,0"/>
<obstacle position="18,18,0"/>
<obstacle position="19,20,0"/>
<obstacle position="19,28,0"/>
<obstacle position="18,30,0"/>
<obstacle position="20,6,0"/>
<obstacle position="21,12,0"/>
<obstacle position="21,30,0"/>
<obstacle position="20,30,0"/>
<obstacle position="22,8,0"/>
<obstacle position="23,12,0"/>
<obstacle position="22,12,0"/>
<obstacle position="22,20,0"/>
<obstacle position="23,26,0"/>
<obstacle position="22,26,0"/>
<obstacle position="22,28,0"/>
<obstacle position="22,30,0"/>
<obstacle position="25,18,0"/>
<obstacle position="25,20,0"/>
<obstacle position="25,28,0"/>
<obstacle position="24,28,0"/>
<obstacle position="24,30,0"/>
<obstacle position="27,0,0"/>
<obstacle position="26,10,0"/>
<obstacle position="26,18,0"/>
<obstacle position="26,22,0"/>
<obstacle position="26,24,0"/>
<obstacle position="26,26,0"/>
<obstacle position="26,30,0"/>
<obstacle position="28,2,0"/>
<obstacle position="29,4,0"/>
<obstacle position="28,20,0"/>
<obstacle position="29,22,0"/>
<obstacle position="28,30,0"/>
<obstacle position="31,0,0"/>
<obstacle position="31,2,0"/>
<obstacle position="30,2,0"/>
<obstacle position="31,4,0"/>
<obstacle position="31,6,0"/>
<obstacle position="31,8,0"/>
<obstacle position="30,8,0"/>
<obstacle position="31,10,0"/>
<obstacle position="30,10,0"/>
<obstacle position="31,12,0"/>
<obstacle position="30,12,0"/>
<obstacle position="31,14,0"/>
<obstacle position="31,16,0"/>
<obstacle position="30,16,0"/>
<obstacle position="31,18,0"/>
<obstacle position="31,20,0"/>
<obstacle position="31,22,0"/>
<obstacle position="31,24,0"/>
<obstacle position="31,26,0"/>
<obstacle position="30,26,0"/>
<obstacle position="31,28,0"/>
<obstacle position="30,28,0"/>
<obstacle position="31,30,0"/>
<obstacle position="30,30,0"/>
</obstacleList>
</world>